.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    color: #333f48;
}

html[data-theme='dark'] .wy-side-nav-search .wy-dropdown > a,
html[data-theme='dark'] .wy-side-nav-search > a {
    color: #0d0d0d !important;
}

html[data-theme='dark'] .highlight .gp ,
html[data-theme='dark'] .highlight .go ,
html[data-theme='dark'] .highlight .nv {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

html[data-theme='dark'] .highlight-console .go {
    color: #bfbfbf;
    -webkit-filter: invert(0%);
    filter: invert(0%);
}

html[data-theme='dark'] .sig-name .pre {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.highlight-python .go {
    font-style: italic;
}
